### Import

In [1]:
# class import
from scripts.data_loader import StocksLoader

# basic
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import os, sys

### Loader testing

In [2]:
# class instance setup
loader = StocksLoader(tickers_to_load=['GAZP', 'SBER', 'VTBR', 'AFLT', 'LKOH', 'ROSN', 'PIKK'], token=os.environ['T_API_TOKEN'])

#### Latest data

In [ ]:
tickers_data = loader.get_latest_data(delta_days=10)
tickers_data_afks = tickers_data[0]
tickers_data_sber = tickers_data[1]

In [4]:
tickers_data_afks

,Open,Close,High,Low,Volume,DateTime,ticker,figi
0,14.738,14.738,14.738,14.738,4352,2025-04-10T03:55:00Z,AFKS,BBG004S68614
1,14.738,14.606,14.738,14.525,40613,2025-04-10T04:00:00Z,AFKS,BBG004S68614
2,14.606,14.609,14.738,14.569,56970,2025-04-10T04:05:00Z,AFKS,BBG004S68614
3,14.619,14.650,14.738,14.611,29427,2025-04-10T04:10:00Z,AFKS,BBG004S68614
4,14.664,14.660,14.680,14.569,11995,2025-04-10T04:15:00Z,AFKS,BBG004S68614
...,...,...,...,...,...,...,...,...
395,15.325,15.329,15.358,15.293,7608,2025-04-11T20:25:00Z,AFKS,BBG004S68614
396,15.329,15.350,15.360,15.323,3995,2025-04-11T20:30:00Z,AFKS,BBG004S68614
397,15.350,15.340,15.357,15.331,4119,2025-04-11T20:35:00Z,AFKS,BBG004S68614
398,15.348,15.340,15.356,15.339,3435,2025-04-11T20:40:00Z,AFKS,BBG004S68614
399,15.341,15.349,15.350,15.321,7283,2025-04-11T20:45:00Z,AFKS,BBG004S68614

#### History data

In [3]:
dataframes = loader.get_historical_data(start_year=2023, end_year=2024)

Started parsing instrument: GAZP for 2023
Finished parsing instrument: GAZP for 2023
Started parsing instrument: GAZP for 2024
Finished parsing instrument: GAZP for 2024
Added concatenated data for GAZP
Started parsing instrument: SBER for 2023
Finished parsing instrument: SBER for 2023
Started parsing instrument: SBER for 2024
Finished parsing instrument: SBER for 2024
Added concatenated data for SBER
Started parsing instrument: VTBR for 2023
Finished parsing instrument: VTBR for 2023
Started parsing instrument: VTBR for 2024
Finished parsing instrument: VTBR for 2024
Added concatenated data for VTBR
Started parsing instrument: AFLT for 2023
Finished parsing instrument: AFLT for 2023
Started parsing instrument: AFLT for 2024
Finished parsing instrument: AFLT for 2024
Added concatenated data for AFLT
Started parsing instrument: LKOH for 2023
Finished parsing instrument: LKOH for 2023
Started parsing instrument: LKOH for 2024
Finished parsing instrument: LKOH for 2024
Added concatenated data for LKOH
Started parsing instrument: ROSN for 2023
Finished parsing instrument: ROSN for 2023
Started parsing instrument: ROSN for 2024
Finished parsing instrument: ROSN for 2024
Added concatenated data for ROSN
Started parsing instrument: PIKK for 2023
Finished parsing instrument: PIKK for 2023
Started parsing instrument: PIKK for 2024
Finished parsing instrument: PIKK for 2024
Added concatenated data for PIKK

In [4]:
df_GAZP = dataframes[0].sort_values(by='date_time_start').reset_index(drop=True)
df_SBER = dataframes[1].sort_values(by='date_time_start').reset_index(drop=True)
df_VTBR = dataframes[2].sort_values(by='date_time_start').reset_index(drop=True)
df_AFLT = dataframes[3].sort_values(by='date_time_start').reset_index(drop=True)
df_LKOH = dataframes[4].sort_values(by='date_time_start').reset_index(drop=True)
df_ROSN = dataframes[5].sort_values(by='date_time_start').reset_index(drop=True)
df_PIKK = dataframes[6].sort_values(by='date_time_start').reset_index(drop=True)

##### Gazprom

In [5]:
df_GAZP

,uid,date_time_start,Open,Close,High,Low,Volume,Spare,ticker,figi
0,962e2a95-02a9-4171-abd7-aa198dbe643a,2023-01-01T09:00:00Z,163.44,163.44,163.44,163.44,1,NaN,GAZP,BBG004730RP0
1,962e2a95-02a9-4171-abd7-aa198dbe643a,2023-01-01T09:01:00Z,163.45,163.47,163.49,162.49,24,NaN,GAZP,BBG004730RP0
2,962e2a95-02a9-4171-abd7-aa198dbe643a,2023-01-01T09:02:00Z,163.47,163.49,163.52,162.50,48,NaN,GAZP,BBG004730RP0
3,962e2a95-02a9-4171-abd7-aa198dbe643a,2023-01-01T09:03:00Z,163.49,163.50,163.50,162.50,7,NaN,GAZP,BBG004730RP0
4,962e2a95-02a9-4171-abd7-aa198dbe643a,2023-01-01T09:04:00Z,163.50,163.35,163.50,162.32,109,NaN,GAZP,BBG004730RP0
...,...,...,...,...,...,...,...,...,...,...
569591,962e2a95-02a9-4171-abd7-aa198dbe643a,2024-12-31T20:45:00Z,132.40,132.70,132.70,132.40,4,NaN,GAZP,BBG004730RP0
569592,962e2a95-02a9-4171-abd7-aa198dbe643a,2024-12-31T20:46:00Z,132.70,132.71,132.71,132.70,15,NaN,GAZP,BBG004730RP0
569593,962e2a95-02a9-4171-abd7-aa198dbe643a,2024-12-31T20:47:00Z,132.71,132.70,132.71,132.70,46,NaN,GAZP,BBG004730RP0
569594,962e2a95-02a9-4171-abd7-aa198dbe643a,2024-12-31T20:48:00Z,132.71,132.71,132.71,132.70,78,NaN,GAZP,BBG004730RP0
569595,962e2a95-02a9-4171-abd7-aa198dbe643a,2024-12-31T20:49:00Z,132.71,132.71,132.71,132.71,1,NaN,GAZP,BBG004730RP0

In [6]:
df_GAZP.describe()

,Open,Close,High,Low,Volume,Spare
count,569596.000000,569596.000000,569596.000000,569596.000000,569596.000000,0.0
mean,151.902200,151.902645,151.983276,151.802758,3461.614151,NaN
std,20.525255,20.525518,20.552475,20.487040,10397.703566,NaN
min,105.340000,105.340000,105.350000,105.220000,1.000000,NaN
25%,131.070000,131.070000,131.100000,131.000000,67.000000,NaN
50%,161.200000,161.200000,161.250000,161.150000,751.000000,NaN
75%,167.160000,167.170000,167.300000,167.030000,2894.000000,NaN
max,185.260000,185.250000,185.320000,185.230000,832264.000000,NaN

In [8]:
df_GAZP.to_parquet('data/raw_data/GAZP_2023_2024.parquet', index=False)

##### Sber bank

In [ ]:
df_SBER

,uid,date_time_start,Open,Close,High,Low,Volume,Spare,ticker,figi
0,e6123145-9665-43e0-8413-cd61b8aa9b13,2023-01-01T09:00:00Z,141.06,141.06,141.06,141.06,415,NaN,SBER,BBG004730N88
1,e6123145-9665-43e0-8413-cd61b8aa9b13,2023-01-01T09:01:00Z,140.62,140.84,141.26,139.98,864,NaN,SBER,BBG004730N88
2,e6123145-9665-43e0-8413-cd61b8aa9b13,2023-01-01T09:02:00Z,140.85,139.88,140.85,139.88,256,NaN,SBER,BBG004730N88
3,e6123145-9665-43e0-8413-cd61b8aa9b13,2023-01-01T09:03:00Z,140.60,139.63,140.86,139.63,518,NaN,SBER,BBG004730N88
4,e6123145-9665-43e0-8413-cd61b8aa9b13,2023-01-01T09:04:00Z,140.38,140.50,140.50,139.60,146,NaN,SBER,BBG004730N88
...,...,...,...,...,...,...,...,...,...,...
571640,e6123145-9665-43e0-8413-cd61b8aa9b13,2024-12-31T20:44:00Z,280.91,280.91,280.91,280.91,1,NaN,SBER,BBG004730N88
571641,e6123145-9665-43e0-8413-cd61b8aa9b13,2024-12-31T20:45:00Z,280.92,281.26,281.26,280.91,6,NaN,SBER,BBG004730N88
571642,e6123145-9665-43e0-8413-cd61b8aa9b13,2024-12-31T20:46:00Z,280.91,280.90,281.26,280.90,17,NaN,SBER,BBG004730N88
571643,e6123145-9665-43e0-8413-cd61b8aa9b13,2024-12-31T20:48:00Z,280.91,281.26,281.26,280.90,37,NaN,SBER,BBG004730N88
571644,e6123145-9665-43e0-8413-cd61b8aa9b13,2024-12-31T20:49:00Z,280.90,280.90,280.90,280.90,41,NaN,SBER,BBG004730N88

In [9]:
df_SBER.describe()

,Open,Close,High,Low,Volume,Spare
count,571645.00000,571645.000000,571645.000000,571645.000000,5.716450e+05,0.0
mean,258.14162,258.142713,258.260486,258.000318,4.250001e+03,NaN
std,41.77019,41.769515,41.753640,41.790170,1.196298e+04,NaN
min,139.22000,139.400000,139.400000,139.170000,1.000000e+00,NaN
25%,240.91000,240.910000,241.030000,240.720000,7.400000e+01,NaN
50%,263.29000,263.290000,263.450000,263.080000,1.031000e+03,NaN
75%,283.32000,283.320000,283.400000,283.200000,3.880000e+03,NaN
max,330.43000,330.430000,330.450000,330.400000,1.425657e+06,NaN

In [10]:
df_SBER.to_parquet('data/raw_data/SBER_2023_2024.parquet', index=False)

##### VTB bank

In [ ]:
df_VTBR

,uid,date_time_start,Open,Close,High,Low,Volume,Spare,ticker,figi
0,8e2b0325-0292-4654-8a18-4f63ed3b0e09,2023-01-01T09:01:00Z,0.01638,0.01648,0.01648,0.016380,21,NaN,VTBR,BBG004730ZJ9
1,8e2b0325-0292-4654-8a18-4f63ed3b0e09,2023-01-01T09:02:00Z,0.01638,0.01648,0.01648,0.016380,15,NaN,VTBR,BBG004730ZJ9
2,8e2b0325-0292-4654-8a18-4f63ed3b0e09,2023-01-01T09:03:00Z,0.01648,0.01648,0.01648,0.016480,5,NaN,VTBR,BBG004730ZJ9
3,8e2b0325-0292-4654-8a18-4f63ed3b0e09,2023-01-01T09:04:00Z,0.01648,0.01648,0.01648,0.016385,26,NaN,VTBR,BBG004730ZJ9
4,8e2b0325-0292-4654-8a18-4f63ed3b0e09,2023-01-01T09:05:00Z,0.01648,0.01648,0.01648,0.016480,3,NaN,VTBR,BBG004730ZJ9
...,...,...,...,...,...,...,...,...,...,...
560764,8e2b0325-0292-4654-8a18-4f63ed3b0e09,2024-12-31T20:45:00Z,80.34000,80.32000,80.34000,80.320000,1220,NaN,VTBR,BBG004730ZJ9
560765,8e2b0325-0292-4654-8a18-4f63ed3b0e09,2024-12-31T20:46:00Z,80.57000,80.31000,80.57000,80.290000,181,NaN,VTBR,BBG004730ZJ9
560766,8e2b0325-0292-4654-8a18-4f63ed3b0e09,2024-12-31T20:47:00Z,80.30000,80.21000,80.56000,80.210000,957,NaN,VTBR,BBG004730ZJ9
560767,8e2b0325-0292-4654-8a18-4f63ed3b0e09,2024-12-31T20:48:00Z,80.54000,80.54000,80.54000,80.540000,33,NaN,VTBR,BBG004730ZJ9
560768,8e2b0325-0292-4654-8a18-4f63ed3b0e09,2024-12-31T20:49:00Z,80.24000,80.24000,80.24000,80.240000,2,NaN,VTBR,BBG004730ZJ9

In [11]:
df_VTBR.describe()

,Open,Close,High,Low,Volume,Spare
count,560769.000000,560769.000000,560769.000000,560769.000000,5.607690e+05,0.0
mean,23.747581,23.747514,23.756599,23.737131,1.569649e+04,NaN
std,38.332796,38.332677,38.347286,38.316025,4.576681e+04,NaN
min,0.015810,0.015810,0.015810,0.015810,1.000000e+00,NaN
25%,0.022260,0.022260,0.022275,0.022240,1.660000e+02,NaN
50%,0.024130,0.024130,0.024145,0.024110,2.514000e+03,NaN
75%,68.630000,68.630000,68.670000,68.600000,1.238900e+04,NaN
max,101.920000,101.940000,102.000000,101.860000,3.868903e+06,NaN

In [12]:
df_VTBR.to_parquet('data/raw_data/VTBR_2023_2024.parquet', index=False)

##### Aeroflot

In [ ]:
df_AFLT

,uid,date_time_start,Open,Close,High,Low,Volume,Spare,ticker,figi
0,1c69e020-f3b1-455c-affa-45f8b8049234,2023-01-01T09:01:00Z,24.50,24.54,24.70,24.50,722,NaN,AFLT,BBG004S683W7
1,1c69e020-f3b1-455c-affa-45f8b8049234,2023-01-01T09:02:00Z,24.70,24.70,24.70,24.70,7,NaN,AFLT,BBG004S683W7
2,1c69e020-f3b1-455c-affa-45f8b8049234,2023-01-01T09:03:00Z,24.70,24.70,24.70,24.70,203,NaN,AFLT,BBG004S683W7
3,1c69e020-f3b1-455c-affa-45f8b8049234,2023-01-01T09:04:00Z,24.56,24.72,24.72,24.56,33,NaN,AFLT,BBG004S683W7
4,1c69e020-f3b1-455c-affa-45f8b8049234,2023-01-01T09:05:00Z,24.72,24.56,24.72,24.56,2,NaN,AFLT,BBG004S683W7
...,...,...,...,...,...,...,...,...,...,...
527340,1c69e020-f3b1-455c-affa-45f8b8049234,2024-12-31T20:34:00Z,58.99,58.99,58.99,58.99,6,NaN,AFLT,BBG004S683W7
527341,1c69e020-f3b1-455c-affa-45f8b8049234,2024-12-31T20:43:00Z,58.90,58.90,58.90,58.90,2,NaN,AFLT,BBG004S683W7
527342,1c69e020-f3b1-455c-affa-45f8b8049234,2024-12-31T20:46:00Z,58.99,58.99,58.99,58.99,4,NaN,AFLT,BBG004S683W7
527343,1c69e020-f3b1-455c-affa-45f8b8049234,2024-12-31T20:47:00Z,58.99,58.99,58.99,58.99,31,NaN,AFLT,BBG004S683W7
527344,1c69e020-f3b1-455c-affa-45f8b8049234,2024-12-31T20:48:00Z,58.90,58.90,58.90,58.90,130,NaN,AFLT,BBG004S683W7

In [13]:
df_AFLT.describe()

,Open,Close,High,Low,Volume,Spare
count,527345.000000,527345.000000,527345.000000,527345.000000,527345.000000,0.0
mean,44.308576,44.308462,44.330703,44.284189,2337.660687,NaN
std,9.588245,9.588346,9.590702,9.586720,7622.790385,NaN
min,24.500000,24.540000,24.560000,24.500000,1.000000,NaN
25%,38.260000,38.260000,38.280000,38.240000,25.000000,NaN
50%,42.470000,42.460000,42.510000,42.420000,289.000000,NaN
75%,52.200000,52.200000,52.220000,52.190000,1628.000000,NaN
max,64.690000,64.740000,64.750000,64.690000,589693.000000,NaN

In [14]:
df_AFLT.to_parquet('data/raw_data/AFLT_2023_2024.parquet', index=False)

##### Lukoil

In [ ]:
df_LKOH

,uid,date_time_start,Open,Close,High,Low,Volume,Spare,ticker,figi
0,02cfdf61-6298-4c0f-a9ca-9cabc82afaf3,2023-01-01T09:00:00Z,4103.0,4103.0,4103.0,4103.0,2,NaN,LKOH,BBG004731032
1,02cfdf61-6298-4c0f-a9ca-9cabc82afaf3,2023-01-01T09:01:00Z,4078.0,4116.5,4116.5,4077.5,93,NaN,LKOH,BBG004731032
2,02cfdf61-6298-4c0f-a9ca-9cabc82afaf3,2023-01-01T09:02:00Z,4120.0,4107.5,4132.5,4097.0,130,NaN,LKOH,BBG004731032
3,02cfdf61-6298-4c0f-a9ca-9cabc82afaf3,2023-01-01T09:03:00Z,4103.0,4131.5,4131.5,4103.0,62,NaN,LKOH,BBG004731032
4,02cfdf61-6298-4c0f-a9ca-9cabc82afaf3,2023-01-01T09:04:00Z,4106.5,4106.0,4131.0,4106.0,8,NaN,LKOH,BBG004731032
...,...,...,...,...,...,...,...,...,...,...
537003,02cfdf61-6298-4c0f-a9ca-9cabc82afaf3,2024-12-31T20:35:00Z,7230.5,7231.0,7231.0,7230.5,7,NaN,LKOH,BBG004731032
537004,02cfdf61-6298-4c0f-a9ca-9cabc82afaf3,2024-12-31T20:42:00Z,7223.0,7222.5,7223.0,7222.5,17,NaN,LKOH,BBG004731032
537005,02cfdf61-6298-4c0f-a9ca-9cabc82afaf3,2024-12-31T20:47:00Z,7222.5,7231.0,7231.0,7222.5,14,NaN,LKOH,BBG004731032
537006,02cfdf61-6298-4c0f-a9ca-9cabc82afaf3,2024-12-31T20:48:00Z,7222.5,7222.5,7222.5,7222.5,5,NaN,LKOH,BBG004731032
537007,02cfdf61-6298-4c0f-a9ca-9cabc82afaf3,2024-12-31T20:49:00Z,7222.5,7222.5,7222.5,7222.5,6,NaN,LKOH,BBG004731032

In [15]:
df_LKOH.describe()

,Open,Close,High,Low,Volume,Spare
count,537008.000000,537008.00000,537008.000000,537008.000000,537008.000000,0.0
mean,6373.283390,6373.30326,6375.594306,6370.770323,877.807118,NaN
std,1157.276018,1157.26522,1157.335332,1157.231207,2536.684977,NaN
min,3800.500000,3800.50000,3802.000000,3800.000000,1.000000,NaN
25%,5528.000000,5527.50000,5532.000000,5522.000000,26.000000,NaN
50%,6812.000000,6812.00000,6814.500000,6810.000000,228.000000,NaN
75%,7189.500000,7189.50000,7191.500000,7186.500000,812.000000,NaN
max,8171.500000,8173.50000,8175.000000,8163.500000,356539.000000,NaN

In [16]:
df_LKOH.to_parquet('data/raw_data/LKOH_2023_2024.parquet', index=False)

##### Rosneft

In [ ]:
df_ROSN

,uid,date_time_start,Open,Close,High,Low,Volume,Spare,ticker,figi
0,fd417230-19cf-4e7b-9623-f7c9ca18ec6b,2023-01-01T09:01:00Z,368.30,368.35,368.35,366.10,32,NaN,ROSN,BBG004731354
1,fd417230-19cf-4e7b-9623-f7c9ca18ec6b,2023-01-01T09:02:00Z,368.35,368.40,368.40,366.00,508,NaN,ROSN,BBG004731354
2,fd417230-19cf-4e7b-9623-f7c9ca18ec6b,2023-01-01T09:03:00Z,368.45,368.50,368.55,366.25,163,NaN,ROSN,BBG004731354
3,fd417230-19cf-4e7b-9623-f7c9ca18ec6b,2023-01-01T09:04:00Z,368.50,368.55,368.55,366.30,43,NaN,ROSN,BBG004731354
4,fd417230-19cf-4e7b-9623-f7c9ca18ec6b,2023-01-01T09:05:00Z,368.55,369.75,369.75,367.50,870,NaN,ROSN,BBG004731354
...,...,...,...,...,...,...,...,...,...,...
571321,fd417230-19cf-4e7b-9623-f7c9ca18ec6b,2024-12-31T20:45:00Z,609.60,609.95,609.95,609.60,56,NaN,ROSN,BBG004731354
571322,fd417230-19cf-4e7b-9623-f7c9ca18ec6b,2024-12-31T20:46:00Z,609.95,609.65,609.95,609.65,34,NaN,ROSN,BBG004731354
571323,fd417230-19cf-4e7b-9623-f7c9ca18ec6b,2024-12-31T20:47:00Z,609.90,609.95,609.95,609.90,73,NaN,ROSN,BBG004731354
571324,fd417230-19cf-4e7b-9623-f7c9ca18ec6b,2024-12-31T20:48:00Z,609.95,609.50,609.95,609.50,55,NaN,ROSN,BBG004731354
571325,fd417230-19cf-4e7b-9623-f7c9ca18ec6b,2024-12-31T20:49:00Z,609.95,609.50,609.95,609.50,83,NaN,ROSN,BBG004731354

In [17]:
df_ROSN.describe()

,Open,Close,High,Low,Volume,Spare
count,571326.000000,571326.000000,571326.000000,571326.000000,571326.000000,0.0
mean,505.633632,505.634884,505.878034,505.307184,3527.069454,NaN
std,76.329510,76.329328,76.344136,76.300254,10071.097181,NaN
min,333.450000,333.450000,333.900000,333.400000,1.000000,NaN
25%,472.250000,472.250000,472.450000,472.050000,68.000000,NaN
50%,515.350000,515.350000,515.700000,514.950000,718.000000,NaN
75%,574.450000,574.500000,574.700000,574.250000,3084.000000,NaN
max,612.850000,617.300000,617.550000,609.950000,823612.000000,NaN

In [18]:
df_ROSN.to_parquet('data/raw_data/ROSN_2023_2024.parquet', index=False)

##### PIK

In [ ]:
df_PIKK

,uid,date_time_start,Open,Close,High,Low,Volume,Spare,ticker,figi
0,03d5e771-fc10-438e-8892-85a40733612d,2023-01-01T09:01:00Z,602.9,602.9,602.9,602.9,2,NaN,PIKK,BBG004S68BH6
1,03d5e771-fc10-438e-8892-85a40733612d,2023-01-01T09:05:00Z,602.9,602.9,602.9,602.9,2,NaN,PIKK,BBG004S68BH6
2,03d5e771-fc10-438e-8892-85a40733612d,2023-01-01T09:08:00Z,602.9,602.9,602.9,602.9,2,NaN,PIKK,BBG004S68BH6
3,03d5e771-fc10-438e-8892-85a40733612d,2023-01-01T09:12:00Z,599.2,599.2,599.2,599.2,1,NaN,PIKK,BBG004S68BH6
4,03d5e771-fc10-438e-8892-85a40733612d,2023-01-01T09:14:00Z,602.9,602.9,602.9,602.9,5,NaN,PIKK,BBG004S68BH6
...,...,...,...,...,...,...,...,...,...,...
440679,03d5e771-fc10-438e-8892-85a40733612d,2024-12-31T20:45:00Z,526.5,526.5,526.5,526.5,52,NaN,PIKK,BBG004S68BH6
440680,03d5e771-fc10-438e-8892-85a40733612d,2024-12-31T20:46:00Z,526.1,526.0,526.1,526.0,52,NaN,PIKK,BBG004S68BH6
440681,03d5e771-fc10-438e-8892-85a40733612d,2024-12-31T20:47:00Z,526.0,526.9,526.9,526.0,158,NaN,PIKK,BBG004S68BH6
440682,03d5e771-fc10-438e-8892-85a40733612d,2024-12-31T20:48:00Z,526.0,525.8,526.0,525.8,210,NaN,PIKK,BBG004S68BH6
440683,03d5e771-fc10-438e-8892-85a40733612d,2024-12-31T20:49:00Z,526.0,526.0,526.0,526.0,39,NaN,PIKK,BBG004S68BH6

In [19]:
df_PIKK.describe()

,Open,Close,High,Low,Volume,Spare
count,440684.000000,440684.000000,440684.000000,440684.000000,440684.000000,0.0
mean,711.744175,711.746273,712.027432,711.449242,766.160348,NaN
std,127.229402,127.232650,127.262850,127.198993,2786.363026,NaN
min,352.500000,352.400000,352.700000,352.100000,1.000000,NaN
25%,638.900000,639.000000,639.100000,638.700000,11.000000,NaN
50%,718.300000,718.300000,718.500000,718.000000,101.000000,NaN
75%,821.000000,821.000000,821.500000,820.600000,477.000000,NaN
max,991.100000,991.100000,994.900000,990.300000,189827.000000,NaN

In [20]:
df_PIKK.to_parquet('data/raw_data/PIKK_2023_2024.parquet', index=False)